header
  div
    h1= title
  nav
    ul
      li
        a(href="/") Home
      li
        a(href="/user/signup") Sign Up
      li 
        a(href="/user/members") Become a Member
      if currentUser
        li
          a(href="/user/logout") Log Out
      else
        li
          a(href="/user/login") Log In
        li

