header
  div
    h1= title
  nav
    ul
      li
        a(href="/") Home
      if !currentUser
        li
          a(href="/user/signup") Sign Up
      if currentUser && currentUser.status ==='user' 
        #{console.log('currentUser', currentUser)}
        li
          a(href="/user/becomeMember") Become a Member
      
      if currentUser
        li 
          a(href="/user/message") Send Message
        li
          a(href="/user/logout") Log Out
      else
        li
          a(href="/user/login") Log In

     


