<header>
  <div>
    <h1><%= title %></h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user/signup">Sign Up</a></li>
      <li><a href="/user/login">Contact</a></li>
    </ul>
  </nav>
</header>
