extends layouts/main.pug

block content
    div.container 
        if error_messages.length
            .alert.alert-danger
                each msg in error_messages
                    p= msg
        h1 Login 
        form.form-container(method="POST")
            
            .form-control
                label.form-label(for="username") Username:
                input.form-input(type="text", name="username", id="username", value= user ? user.username : '', required=true)
               
            .form-control 
                label.form-label(for="password") Password:
                input.form-input(type="password", name="password", id="password", required=true)
            if errors
                for error in errors 
                    .alert-danger 
                        p.error= error.msg
            button.btn.btn-primary(type="submit") Login        