extends layouts/main.pug 

block content
   
    div.container
        h1= page_title
        p So you want to become a member do you?
        
        img.secret-image(src="/images/secret3.png" alt="question image")

        div
            form.form-container(action="/user/becomeMember" ,method="POST") 
                .form-control
                    label.form-label(for="answer") What programming concept is displayed in the picture above?
                    input.form-input(type="text", name="answer", id="answer", value=user ? user.answer : '')
                    .errors 
                        if errors
                            for error in errors
                                p.error= error.msg
                            p.hint Hint : It is used in functional programing and was invented by Haskell Curry.        
                button.btn.btn-primary(type="submit") Submit