extends layouts/main.pug 

block content
    if error_messages.length
        .alert.alert-danger
        each msg in error_messages
            p= msg
    div.container
        h1= page_title
        p So you want to become a member do you?
        
        img(src="/images/secret3.png" alt="question image")

        div
            form.form-container(action="/user/member" ,method="POST") 
                .form-control
                    label.form-label(for="secretQuestion") What programming concept is displayed in the picture above?
                    input.form-input(type="text", name="secretQuestion", id="secretQuestion", value=user ? user.secretQuestion : '')
                button.btn.btn-primary(type="submit") Submit
